<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/application/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales" href="/application/sales">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="master-data" href="/application/master-data">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Master Data</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/application/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
