<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="/sales" slot="start" color="light"></ion-back-button>
    <ion-title>{{ 'sales-details' | translate | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="page-content">
  <div class="ion-padding">
    @if (sales && !isLoadingSales) {
      <div class="grid gap-4">
        <!-- Sales Info -->
        <div class="dark:border-surface-750 dark:bg-surface-900 rounded-md border border-slate-200 bg-white shadow-sm">
          <div class="w-full px-4 py-3">
            <h3 class="text-sm font-semibold underline">{{ 'sales-info' | translate | titlecase }}:</h3>
          </div>
          <div class="w-full">
            <hr class="dark:border-surface-750 w-full border-slate-200" />
          </div>
          <div class="grid w-full grid-cols-2 gap-4 p-4">
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'code' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">{{ sales.kode }}</p>
            </div>
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'date' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                {{ sales.tgl | date: 'dd/MM/yyyy HH:mm' }}
              </p>
            </div>
          </div>
        </div>
        <!-- ! Sales Info -->

        <!-- Customer Info -->
        <div class="dark:border-surface-750 dark:bg-surface-900 rounded-md border border-slate-200 bg-white shadow-sm">
          <div class="w-full px-4 py-3">
            <h3 class="text-sm font-semibold underline">{{ 'customer-info' | translate | titlecase }}:</h3>
          </div>
          <div class="w-full">
            <hr class="dark:border-surface-750 w-full border-slate-200" />
          </div>
          <div class="grid w-full grid-cols-2 gap-4 p-4">
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'customer-code' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                {{ sales.customer?.kode }}
              </p>
            </div>
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'name' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                {{ sales.customer?.nama }}
              </p>
            </div>
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'phone' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                {{ sales.customer?.telp }}
              </p>
            </div>
          </div>
        </div>
        <!-- ! Customer Info -->

        <!-- Sales Items Title -->
        <div class="dark:border-surface-750 dark:bg-surface-900 rounded-md border border-slate-200 bg-white shadow-sm">
          <div class="w-full px-4 py-3">
            <h3 class="text-sm font-semibold underline">{{ 'sales-items' | translate | titlecase }}:</h3>
          </div>
        </div>
        <!-- ! Sales Items Title -->

        <!-- Sales Items List -->
        <div class="grid w-full gap-4">
          @for (detail of sales.details; track $index) {
            <!-- Item Card -->
            <div
              class="dark:border-surface-750 dark:bg-surface-900 gap-3 rounded-md border border-slate-200 bg-white shadow-sm"
            >
              <div class="flex w-full items-center justify-between px-4 py-3">
                <div class="flex flex-1 items-center gap-2">
                  <div
                    class="grid aspect-square h-7 w-7 place-items-center rounded-md bg-primary-500 bg-opacity-10 text-primary-500"
                  >
                    <ion-icon name="cube-outline" class="size-4"></ion-icon>
                  </div>
                  <h6 class="text-sm font-semibold">{{ 'item' | translate | titlecase }} #{{ $index + 1 }}</h6>
                </div>
              </div>
              <div class="w-full">
                <hr class="dark:border-surface-750 w-full border-slate-200" />
              </div>
              <div class="grid w-full grid-cols-1 gap-3 px-4 py-3">
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'code' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">{{ detail.barang?.kode }}</p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'name' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">{{ detail.barang?.nama }}</p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'label-price' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                    Rp {{ detail.harga_bandrol || 0 | number: '1.2-2' }}
                  </p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'qty' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                    {{ detail.qty || 0 | number: '1.0-0' }}
                  </p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'discount' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                    Rp {{ detail.diskon_nilai || 0 | number: '1.2-2' }} ({{ detail.diskon_pct || 0 }}%)
                  </p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                    {{ 'discounted-price' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                    Rp {{ detail.harga_diskon || 0 | number: '1.2-2' }}
                  </p>
                </div>
                <div class="col-span-2 flex flex-col">
                  <h6 class="text-sm font-semibold text-slate-500 dark:text-slate-300">
                    {{ 'subtotal' | translate | titlecase }}
                  </h6>
                  <p class="text-base font-semibold text-slate-700 dark:text-slate-100">
                    Rp {{ detail.total || 0 | number: '1.2-2' }}
                  </p>
                </div>
              </div>
            </div>
            <!-- ! Item Card -->
          }
        </div>
        <!-- ! Sales Items List -->

        <!-- Customer Info -->
        <div class="dark:border-surface-750 dark:bg-surface-900 rounded-md border border-slate-200 bg-white shadow-sm">
          <div class="w-full px-4 py-3">
            <h3 class="text-sm font-semibold underline">{{ 'summary' | translate | titlecase }}:</h3>
          </div>
          <div class="w-full">
            <hr class="dark:border-surface-750 w-full border-slate-200" />
          </div>
          <div class="grid w-full grid-cols-2 gap-4 p-4">
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'subtotal' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                Rp {{ sales.subtotal | number: '1.2-2' }}
              </p>
            </div>
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'discount' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                Rp {{ sales.diskon | number: '1.2-2' }}
              </p>
            </div>
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-normal text-slate-500 dark:text-slate-300">
                {{ 'shipping-cost' | translate | titlecase }}
              </h6>
              <p class="text-base font-medium text-slate-700 dark:text-slate-100">
                Rp {{ sales.ongkir | number: '1.2-2' }}
              </p>
            </div>
          </div>
          <div class="w-full">
            <hr class="dark:border-surface-750 w-full border-slate-200" />
          </div>
          <div class="grid w-full grid-cols-2 gap-4 p-4">
            <div class="col-span-2 flex flex-col">
              <h6 class="text-sm font-semibold text-slate-500 dark:text-slate-300">
                {{ 'total-payment' | translate | titlecase }}
              </h6>
              <p class="text-base font-bold text-slate-700 dark:text-slate-100">
                Rp {{ sales.total_bayar | number: '1.2-2' }}
              </p>
            </div>
          </div>
        </div>
        <!-- ! Customer Info -->

        <!-- Action Buttons -->
        <div class="grid grid-cols-2 gap-4">
          <button
            class="h-10 w-full rounded border border-solid border-red-500 bg-red-500 px-3 font-medium text-white duration-300 hover:bg-red-600 hover:text-white"
            (click)="openDeleteConfirmation()"
          >
            {{ 'delete' | translate | titlecase }}
          </button>
          <button
            class="h-10 w-full rounded border border-solid border-primary-500 bg-primary-500 px-3 font-medium text-white duration-300 hover:bg-primary-600 hover:text-white"
            [routerLink]="'/sales/' + sales.id + '/edit'"
          >
            {{ 'edit' | translate | titlecase }}
          </button>
        </div>
        <!-- ! Action Buttons -->
      </div>
    } @else {
      <div class="grid min-h-[90vh] place-items-center">
        <ion-spinner name="lines-sharp"></ion-spinner>
      </div>
    }
  </div>
</ion-content>
