<div
  class="flex cursor-pointer items-start gap-3 rounded-md border border-slate-200 bg-white p-3 shadow-sm duration-300 hover:bg-slate-50 dark:border-zink-600 dark:bg-zink-700 dark:hover:bg-zink-500"
>
  <div class="flex flex-1 items-start gap-3" [routerLink]="'/master-data/barang/' + barang.id">
    <div
      class="grid aspect-square h-12 w-12 place-items-center rounded-md bg-primary-500 bg-opacity-10 text-primary-500"
    >
      <ion-icon name="cube-outline" class="size-6"></ion-icon>
    </div>
    <div class="flex flex-1 flex-col">
      <div class="w-full py-1">
        <h5 class="line-clamp-1 text-base font-semibold">{{ barang.nama }}</h5>
      </div>
      <div class="mb-1 grid grid-cols-2">
        <div class="flex flex-col">
          <h6 class="text-xs font-normal text-zink-500 dark:text-zink-400">{{ 'code' | translate | titlecase }}</h6>
          <p class="line-clamp-1 text-sm font-medium text-zink-700 dark:text-zink-100">{{ barang.kode }}</p>
        </div>
        <div class="flex flex-col">
          <h6 class="text-xs font-normal text-zink-500 dark:text-zink-400">{{ 'price' | translate | titlecase }}</h6>
          <p class="line-clamp-1 text-sm font-medium text-zink-700 dark:text-zink-100">
            Rp {{ barang.harga | number: '1.2-2' }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-fit">
    <button
      class="grid place-items-center rounded border border-solid border-slate-300 bg-slate-100 p-1 text-primary-500 dark:border-zink-500 dark:bg-zink-600 dark:text-zink-200"
      (click)="openActionSheet()"
    >
      <ion-icon name="ellipsis-horizontal" class="text-sm"></ion-icon>
    </button>
  </div>
</div>

<ion-action-sheet
  [isOpen]="isActionSheetOpen"
  [buttons]="actionSheetButtons"
  (didDismiss)="handleActionSheet($event)"
></ion-action-sheet>
