<div
  class="flex items-start gap-3 rounded-md border border-zink-100 bg-white p-3 shadow-sm dark:border-zink-600 dark:bg-zink-700"
>
  <div class="flex flex-1 items-start gap-3">
    <div
      class="grid aspect-square h-12 w-12 place-items-center rounded-md bg-primary-500 bg-opacity-10 text-primary-500"
    >
      <span class="font-bold text-primary-500">C1</span>
    </div>
    <div class="flex flex-1 flex-col">
      <div class="w-full py-1">
        <h5 class="line-clamp-2 text-base font-semibold">Customer 1</h5>
      </div>
      <div class="mb-1 grid grid-cols-2">
        <div class="flex flex-col">
          <h6 class="text-xs font-normal text-zink-500 dark:text-zink-400">Kode</h6>
          <p class="text-sm font-medium text-zink-700 dark:text-zink-100">C-00001</p>
        </div>
        <div class="flex flex-col">
          <h6 class="text-xs font-normal text-zink-500 dark:text-zink-400">Phone</h6>
          <p class="text-sm font-medium text-zink-700 dark:text-zink-100">081234567890</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-fit">
    <button
      class="grid place-items-center rounded border border-solid border-zink-200 bg-zink-100 p-1 text-primary-500 dark:border-zink-500 dark:bg-zink-600 dark:text-zink-200"
    >
      <ion-icon name="ellipsis-horizontal" class="text-sm"></ion-icon>
    </button>
  </div>
</div>
